<!-- Inherit from bookDetails' base.html -->
{# extends "bookDetails/book/detail.html" %} #}
<!-- Load crispy forms functionality -->
{% load crispy_forms_tags %}
<!-- Load from static folder -->
{% load static %}

{% block title %}
    <h1 style="text-align:center">
        --- SHOPPING CART ---
    </h1>
{% endblock %}

{% block content %}
    <h1>Your Shopping Cart</h1>
    <table class="userCart">
        <thead>
            <tr>
                <!-- List of all the attributes associated with a book that should
                be visible from a cart -->
                <th>Image</th>
                <th>Book</th>
                <th>Amount</th>
                <th>Remove</th>
                <th>Price</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            {% for current in userCart %}
                {% with book=current.book %}
                <tr>
                    <td>
                        <a href="{{ book.get_absolute_url }}">
                            <img src="{% if book.book_cover %}{{ book.book_cover.url }}
                                      {% else %}NO IMAGE{% endif %}">
                        </a>
                    </td>
                    <td>{{ book.book_name }}</td>
                    <td>{{ book.quantity }}</td>
                    <td class="num">${{ book.price }}</td>
                    <td class="num">${{ book.total_price }}</td>
                    <td><a href="{% url "cart:removeFromCart" book.id %}">Remove</a></td>
                </tr>
                {% endwith %}
            {% endfor %}
            <!-- Table row showing the total cost of items in cart. Uses
            the get_total_price function defined in cart.py -->
            <tr class="total"></tr>
                <td>Total</td>
                <td class="num">${{ userCart.get_total_price }}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <!-- Button that takes you back to the Book List -->
        <a href="{% url "bookDetails:book_list" %}" class="button light">
            Back to Catalog
        </a>
        <!-- CHECKOUT BUTTON -->
        <a href="#" class="button">Checkout</a>
    </p>

{% endblock %}