{% extends "users/partials/_base.html" %}
{% load crispy_forms_tags %}
{% block settingsPageInfo %}




<div class="container bootstrap snippet">
    <div class="row">




        <!-- Left navBar -->
        <div class="col-md-3">
            <!-- <ul class="list-group">
                <span class="card-header"> ewfwefwe</span>
                </li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Likes</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Posts</strong></span> 37</li>
                <li class="list-group-item text-right"><span class="float-left"><strong>Followers</strong></span> 78</li>
            </ul>

            <br> -->

            <div class="list-group ">
                <span class="card-header">Personal Settings</span>
                <a href="#" class="list-group-item list-group-item-action active">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Account</a>
                <a href="#" class="list-group-item list-group-item-action">Emails</a>
                <a href="#" class="list-group-item list-group-item-action">Billing</a>
            </div>
        </div>



        <!--center-right navBar-->
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-10">
                    <h3>Public Profile</h1>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active nav-item"><a href="#home" data-toggle="tab" class="nav-link">Name</a>
                </li>
                <li class="nav-item"><a href="#messages" data-toggle="tab" class="nav-link">Bio</a>
                </li>
                <li class="nav-item"><a href="#settings" data-toggle="tab" class="nav-link">Social</a>
                </li>
            </ul>








            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <br>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
                            <div class="col-6">
                                <label for="first_name">
                                    <h4>First name</h4>
                                </label>


                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <div class="card text-center">
                                            <div class="card-header">
                                                Profile Info
                                            </div>
                                        </div>
                                        <p></p>
                                        {{ u_form|crispy }}
                                        <!-- Public profile: Username, email, website url  -->
                                        {{ p_form|crispy }}
                                        <!-- Image form -->
                                        {{ u_Passform|crispy }}
                                        <!-- Password reset form -->
                                        {{ user_form.as_p }}
                                        {{ user_ProfileForm.as_p }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Update</button>
                                    </div>
                                </form>







                            </div>
                        </div>
                    </form>
                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
                            <div class="col-6">
                                <label for="first_name">
                                    <h4>Last Name</h4>
                                </label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name"
                                    title="enter your first name if any.">
                            </div>
                        </div>
                    </form>
                    <br>
                    <hr>
                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="messages">
                    <h2></h2>
                    <ul class="list-group">

                        <li class="list-group-item text-right"><a href="#" class="float-left">Swedish chef is
                                assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                    </ul>
                </div>
                <!--/tab-pane-->
                <div class="tab-pane" id="settings">

                    <form class="form" action="##" method="post" id="registrationForm">
                        <div class="form-group">
                            <div class="col-6">
                                <label for="first_name">
                                    <h4>First name</h4>
                                </label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name"
                                    title="enter your first name if any.">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>
                                    Save</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i>
                                    Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->
    </div>
    <!--/col-9-->
</div>









{% endblock %}