{% extends "users/partials/_base.html" %}
{% load crispy_forms_tags %}
{% block settingsPageInfo %}




<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>User Settings</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group row">

<h5>User Name (to-do)</h5>
                        <div class="col-8">
                            <input id="username" name="username" placeholder="Username" class="form-control here"
                                required="required" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
<h5>Email (to-do)</h5>
                        <div class="col-8">
                            <input id="email" name="email" placeholder="Email" class="form-control here" required="required"
                                type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}