{% extends "users/partials/_base.html" %}
{% load crispy_forms_tags %}
{% block settingsPageInfo %}




<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4>Billing overview</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <h1>To-do</h1>

                    <ul>
                        <li>Can manage multiple credit card info</li>
                        <li>Can manage multiple shipping addresses</li>
                        <li>Validation on credit card info and passwords must meet security standards (encrypted/hashed
                            password storage, basic
                            validation that credit card contains numbers and proper dates)</li>
                    </ul>

                </form>
            </div>
        </div>

    </div>
</div>


{% endblock %}