<!-- This is saying: inherit everything from __base.html -->
{% extends "storePage/__base.html" %}
{% load crispy_forms_tags %}
<!-- To beautify the form at signup -->
{% block body %}



    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card text-center card  bg-default mb-3">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="card-header">
                                LOGIN
                            </div>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="card-footer text-muted">

                            <button class="btn btn-secondary" type="submit">Login</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need An Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}