<!-- This is saying: inherit everything from __base.html -->
{% extends "storePage/__base.html" %}
{% load crispy_forms_tags %}
<!-- To beautify the form at signup -->
{% block body %}

<p><br>
    <main role="main" class="container">
        <div class="content-section" style="margin-left: 25%; margin-right: 25%;">
            <div class="content-section">
                <div class="card">
                    <div class="card-body">
                        <div class="media">
                            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
                            <div class="media-body" style="padding-left: 40px;">
                                <b>Name: </b>{{ user.username }}
                                <br>
                                <b>Email: </b>{{ user.email }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FORM HERE -->
            </div>
        </div>
    </main>

    {% endblock %}