<!-- This is saying: inherit everything from __base.html -->
<!DOCTYPE html>
{% extends "../storePage/partials/__base.html" %}

<!-- The code from the index page that will be added to the __base template -->
{% block body %}
<head>
    <style>
        .alignLeft{
            float: left;
        }
        .alignRight{
            float: right;
        }
        .lists{
            height: 100px;
            width: 30%;
            border-style: solid;
        }
        .btn-outline-danger,.btn-outline-success{
            margin: 10px;
        }
    </style>
</head>
    <div class="container">
        <div>
            <div class="alignLeft">
                <h2>{{ user.username }}'s Wishlists</h2>
            </div>
            <div class="alignRight">
                {% if num_of_lists <= 2 %}
                    <button class="btn btn-outline-success">Create a List</button>
                {% else %}
                    <button class="btn btn-outline-secondary" disabled>Create a List</button>
                {% endif %}
                <button class="btn btn-outline-danger">Delete List</button>
            </div>
        </div>
        <br><br>
        <hr>
        {% if num_of_lists == 0 %}
            <h1>You do not have any lists. Click "Create A List" above to create a new list.</h1>
        {% else %}
            <div>
                <div class="alignLeft lists" >
                    <table align="center" cellspacing="10" cellpadding="10" width="80%">
                        {% for list in all_lists %}
                            <tr>
                                <td><a href=""><h3>{{ list.name }}</h3></a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="alignLeft">
                    <table align="center" cellspacing="10" cellpadding="20" width=>
                        <tr>
                            <th>Book Name</th>
                            <th>Author Name</th>
                            <th>Book Price</th>
                            <th>List</th>
                        </tr>
                        {% for book in all_books %}
                            <tr>
                                <td>{{ book.name }}</td>
                                <td>{{ book.author_name }}</td>
                                <td>{{ book.price }}</td>
                                <td>{{ book.list_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
    </div><!--Container closed-->

{% endblock %}