<!-- This is saying: inherit everything from __base.html -->
<!DOCTYPE html>
{% extends "../storePage/partials/__base.html" %}

<!-- The code from the index page that will be added to the __base template -->
{% block body %}
<head>
    <style>
        .alignLeft{
            float: left;
            overflow: hidden;
        }
        .alignRight{
            float: right;
            overflow: hidden;
        }
        .container{
            padding: 15px;
            overflow: hidden;
        }
        .header{
            border-bottom-style: solid;
            overflow: hidden;
            padding: 10px;
            margin-bottom: 5px;
        }
        .content{
            width: 72%;
            height: auto;
        }
        .lists{
            width: 27%;
            text-align: center;
            padding: 10px;

        }
        .listItem{
            width: auto;
            overflow: hidden;
            padding: 10px;
            border-bottom-style: solid;
            border-bottom-width: thin;
        }
        /* Used for making the list names look like links. */
        .fake-link {
            cursor: pointer;
        }

        /* Book Information */
        .wishlistItem {
            padding: 3%;
            overflow: hidden;
        }
        .bookCover {
            width: 140px;
            height: 225px;
        }
        .bookInfo {
            font-size: 15px;
            padding: 20px;
            overflow: hidden;
        }
        .bookName {
            font-size: 25px;
            font-weight: bolder;
            text-decoration: underline;
        }
        .price {
            font-size: 22px;
            font-weight: bold;
        }
        img {
            width: 100%;
            height: auto;
        }
        /*Use for aligned 3 elements in one line*/
        .oneOfThree {
            float: left;
            overflow: hidden;
            width: 25%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="alignLeft">
                <h1>{{ user.username }}'s Wishlists</h1>
            </div>
            <div class="alignRight">
                <form action="{% url "wishlist:createList" %}" method="post">
                {% csrf_token %}
                    <div id="newList">
                        <input id="listName" name="listName" type="text" placeholder="Enter List Name Here"
                               maxlength="25" required>
                        <button type="submit" class="btn btn-outline-success">Create List</button>
                    </div>
                    <div id="noNewList">
                        <button class="btn btn-outline-secondary" disabled>Create List</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <!-- LIST INFORMATION -->
            <div id="noLists">
                <br>
                <h1 align="center">You do not have any wishlists. Please create one.</h1>
            </div>
            <div id="listContent" class="lists alignLeft">
                    {% for list in myLists %}
                        <div class="listItem" id="t{{ list.id }}">
                            <form action="{% url "wishlist:deleteList" list.id %}" method="post">
                                {% csrf_token %}
                                <div class="alignLeft">
                                    <span class="fake-link btn-link" id="{{ list.id }}" onclick="showBooks(this.id)">
                                        {{ list.name }}</span>
                                </div>
                                <div class="alignRight" >
                                    <button type="submit" class="btn btn-danger btn-sm">X</button>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
            </div>
            <!-- BOOKS ASSOCIATED WITH THE LISTS -->
            <div class="alignRight content" id="content">
                <div id="firstContent" class="{{ firstList.id }}">
                    {% if not firstBooks %}
                        <h2 align="center">This Wishlist is empty.</h2>
                    {% else %}
                        {% for books in firstBooks %}
                            <div class="wishlistItem border-bottom">
                                <div class="alignLeft bookCover" id="bookImage">
                                    {% if books.book_cover %}
                                        <img src="{{ books.book_cover.url }}">
                                    {% else %}
                                        <img src="http://lgimages.s3.amazonaws.com/nc-md.gif">
                                {% endif %}
                                </div>
                                <div class="bookInfo">
                                    <div class="bookName">
                                        {{ books.book_name }}
                                    </div>
                                    <div class="authorName">
                                        by {{ books.book_author }}
                                    </div>
                                    <div class="bookDescription">
                                        "{{ books.book_description }}"
                                    </div>
                                    <div class="rating">
                                        {{ books.avg_rating }}/5.0
                                    </div>
                                    <div class="price">
                                        ${{ books.price }}
                                    </div>
                                </div>
                                <div class="shopMoveDelete">
                                    <div class="oneOfThree">
                                        <form action="{% url 'wishlist:moveToCart' firstList.id books.id %}" method="post">
                                            {% csrf_token %}
                                             <button type="submit" class="btn-link">Move To Cart</button>
                                        </form>
                                    </div>
                                    <div class="oneOfThree">
                                        <a href="">Move Wishlist</a>
                                    </div>
                                    <div class="oneOfThree">
                                        <form action="{% url 'wishlist:deleteBook' firstList.id books.id %}" method="post">
                                            {% csrf_token %}
                                             <button type="submit" class="btn-link">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="secondContent" class="{{ secondList.id }}">
                    {% if not secondBooks %}
                        <h2 align="center">This Wishlist is empty.</h2>
                    {% else %}
                        {% for books in secondBooks %}
                            <div class="wishlistItem border-bottom">
                                <div class="alignLeft bookCover" id="bookImage">
                                    {% if books.book_cover %}
                                        <img src="{{ books.book_cover.url }}">
                                    {% else %}
                                        <img src="http://lgimages.s3.amazonaws.com/nc-md.gif">
                                {% endif %}
                                </div>
                                <div class="bookInfo">
                                    <div class="bookName">
                                        {{ books.book_name }}
                                    </div>
                                    <div class="authorName">
                                        by {{ books.book_author }}
                                    </div>
                                    <div class="bookDescription">
                                        "{{ books.book_description }}"
                                    </div>
                                    <div class="rating">
                                        {{ books.avg_rating }}/5.0
                                    </div>
                                    <div class="price">
                                        ${{ books.price }}
                                    </div>
                                </div>
                                <div class="shopMoveDelete">
                                    <div class="oneOfThree">
                                        <form action="{% url 'wishlist:moveToCart' secondList.id books.id %}" method="post">
                                            {% csrf_token %}
                                             <button type="submit" class="btn-link">Move To Cart</button>
                                        </form>
                                    </div>
                                    <div class="oneOfThree">
                                        <a href="">Move Wishlist</a>
                                    </div>
                                    <div class="oneOfThree">
                                        <form action="{% url 'wishlist:deleteBook' secondList.id books.id %}" method="post">
                                            {% csrf_token %}
                                             <button type="submit" class="btn-link">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div id="thirdContent" class="{{ thirdList.id }}">
                    {% if not thirdBooks %}
                        <h2 align="center">This Wishlist is empty.</h2>
                    {% else %}
                        {% for books in thirdBooks %}
                            <div class="wishlistItem border-bottom">
                                <div class="alignLeft bookCover" id="bookImage">
                                    {% if books.book_cover %}
                                        <img src="{{ books.book_cover.url }}">
                                    {% else %}
                                        <img src="http://lgimages.s3.amazonaws.com/nc-md.gif">
                                {% endif %}
                                </div>
                                <div class="bookInfo">
                                    <div class="bookName">
                                        {{ books.book_name }}
                                    </div>
                                    <div class="authorName">
                                        by {{ books.book_author }}
                                    </div>
                                    <div class="bookDescription">
                                        "{{ books.book_description }}"
                                    </div>
                                    <div class="rating">
                                        {{ books.avg_rating }}/5.0
                                    </div>
                                    <div class="price">
                                        ${{ books.price }}
                                    </div>
                                </div>
                                <div class="shopMoveDelete">
                                    <div class="oneOfThree">
                                        <form action="{% url 'wishlist:moveToCart' thirdList.id books.id %}" method="post">
                                            {% csrf_token %}
                                             <button type="submit" class="btn-link">Move To Cart</button>
                                        </form>
                                    </div>
                                    <div class="oneOfThree">
                                        <a href="">Move Wishlist</a>
                                    </div>
                                    <div class="oneOfThree">
                                        <form action="{% url 'wishlist:deleteBook' thirdList.id books.id %}" method="post">
                                            {% csrf_token %}
                                             <button type="submit" class="btn-link">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div> <!--Container closed-->
</body>
    <script>
        //function to display the create list button based on how many lists the user has.
        //Also will display a message when no lists exists.
        function createList(){
            let x = document.getElementById("newList");
            let y = document.getElementById("noNewList");
            let a = document.getElementById("listContent");
            let b = document.getElementById("noLists");
            let c = document.getElementById("content")
            {% if myListsCount == 0 %}{
                a.style.display = "none";
                y.style.display = "none";
                c.style.display = "none";
            }
            {% elif myListsCount > 2 %}{
                x.style.display = "none";
                b.style.display = "none";
            }
            {% else %}{
                y.style.display = "none";
                b.style.display = "none";
            }
            {% endif %}
        }

        function resetColor(){
            let m;
            {% for list in myLists %}
                m = document.getElementById("t"+{{ list.id }});
                m.style.background = "white";
            {% endfor %}
        }

        function selectColor(clicked_id){
            resetColor();
            let s = document.getElementById("t"+clicked_id);
            s.style.background = "darkgrey";
        }

        function hide(idName){
            let c = document.getElementById(idName);
            c.style.display = "none";
        }

        //gets id of element clicked as a parameter which should be the list's id.
        function showBooks(clicked_id){
            allBooks();
            selectColor(clicked_id);
            let one = document.getElementsByClassName(clicked_id);    //get classes with this idea
            one[0].style.display = "block";
        }

        function allBooks(){
            let l;
            {% for list in myLists %}
            {
                l = document.getElementsByClassName({{ list.id }});
                l[0].style.display = "none";
            }
            {% endfor %}
        }

        //If the user has lists then by default the first one should be selected
        {% if myListsCount > 0 %}
            showBooks({{ firstList.id }});
            selectColor({{ firstList.id }});
        {% endif %}

        {% if myListsCount < 3 %}
            hide("thirdContent");
            {% if myListsCount < 2 %}
                hide("secondContent");
            {% endif %}
                {% if myListsCount < 1 %}
                    hide("firstContent");
                {% endif %}
        {% endif %}

        createList();
    </script>
{% endblock %}
