<!-- This is saying: inherit everything from __base.html -->
<!DOCTYPE html>
{% extends "../storePage/partials/__base.html" %}

<!-- The code from the index page that will be added to the __base template -->
{% block body %}
<head>
    <style>
        .alignLeft{
            float: left;
            overflow: hidden;
        }
        .alignRight{
            float: right;
            overflow: hidden;
        }
        .container{
            /*border-style: solid;
            border-width: thin;
            border-color: black;*/
            padding: 15px;
            overflow: hidden;
        }
        .header{
            border-bottom-style: solid;
            /*border-bottom-width: thin;*/
            overflow: hidden;
            padding: 10px;
            margin-bottom: 10px;
        }
        .lists{
            width: 19%;
        }
        .content{
            border-left-style: solid;
            border-left-width: thin;

            width: 80%;
            padding: 2%;
            height: auto;
        }
    </style>
</head>
<body>
    <!-- Delete Start -->
    <b>Testing:</b>
    <p>Leave this here for testing. Delete later.</p>
    {% for list in all_lists %}
        {% if list.user.user.username == user.username %}
            <p>list.name: {{ list.name }} list.books.all.count: {{ list.books.all.count }}</p>
        {% endif %}
    {% endfor %}
    <!-- Delete Stop -->
    <div class="container">
        <div class="header">
            <div class="alignLeft">
                <h1>{{ user.username }}'s Wishlists</h1>
            </div>
            <div class="alignRight">
                <form method="post">
                {% csrf_token %}
                    <div id="newList">
                        <input id="listName" type="text" placeholder="Enter List Name Here" maxlength="25" required>
                        <button type="submit" class="btn btn-outline-success">Create List</button>
                    </div>
                    <div id="noNewList">
                        <button class="btn btn-outline-secondary" disabled>Create List</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- <br><br>
        <hr> -->
        <div>
            <div id="noLists">
                <h1>You do not have any wishlists. Please create one.</h1>
            </div>
            <div id="listContent" class="lists alignLeft">
                <table align="center" cellspacing="10" cellpadding="10" width="80%">
                    {% for list in all_lists %}
                           {% if list.user.user.username == user.username %}
                               <tr>
                                   <td><a href=""><h3>{{ list.name }}</h3></a></td>
                               </tr>
                           {% endif %}
                    {% endfor %}
                </table>
            </div>
            <div class="alignRight content">
                {% for lists in all_lists %}
                    <div class="alignRight" id="bookImage">
                        <img src="{{ lists.books.book_cover.url }}">
                    </div>
                    <div class="alignLeft">
                        <h2>Book Name: {{ lists.books.name }}</h2>
                    </div>
                {% endfor %}
                <table align="center" cellspacing="10" cellpadding="20" width=>
                    <!-- <tr>
                        <th>Book Name</th>
                        <th>Author Name</th>
                        <th>Book Price</th>
                    </tr>
                    {# for book in all_books #}
                        <tr>
                            <td>{{ book.name }}</td>
                            <td>{{ book.author_name }}</td>
                            <td>{{ book.price }}</td>
                        </tr>
                    {# endfor #} -->
                </table>
            </div>
            </div>

        </div>
    </div><!--Container closed-->
</body>
    <script>
        let countOfUserLists = 0;

        //function to count the number of lists based on the user
        function checkNumOfLists() {
            {% for list in all_lists %}
                {% if list.user.user.username == user.username %}
                    countOfUserLists++;
                {% endif %}
            {% endfor %}
        }

        //function to display the create list button based on how many lists the user has.
        //Also will display a message when no lists exists.
        function createList(){
            let x = document.getElementById("newList");
            let y = document.getElementById("noNewList");
            let a = document.getElementById("listContent");
            let b = document.getElementById("noLists");
            if (countOfUserLists == 0){
                a.style.display = "none";
                y.style.display = "none";
            }
            else if (countOfUserLists > 2){
                x.style.display = "none";
                b.style.display = "none";
            }
            else {
                y.style.display = "none";
                b.style.display = "none";
            }
        }

        checkNumOfLists();
        createList();
        console.log('Count of Lists for this User: ' + countOfUserLists);
    </script>
{% endblock %}
